---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Muli);



@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

header{
	display: none;
}
footer{
	display: none;
}
#banniere{
	display: none;
}


// Import partials from `sass_dir` (defaults to `_sass`) ***  l'ordre d'importation est important!!!

@import "variables", "igo-general", "base", "syntax-highlighting" ;
