<section class="page-header" id="banniere">
	<div class="banniere">
		<img class="banniere-logo" src="{{ '/assets/img/logo_bleu_172.png' | prepend: site.baseurl }}"  alt="Logo IGO" />
		
		<p class="banniere-titre">Modèle inspirant <br>
		de développement <br>
		inter-organisation</p>
		<div class="btns-ban">
			<a class="btn-banniere btn btn-primary" href="https://github.com/infra-geo-ouverte/igo">
				<i class="icon-banniere fa fa-copyright"></i>
				Licence
			</a>
			<a class="btn-banniere btn btn-primary" href="https://github.com/infra-geo-ouverte/igo">
				<span class="icon-banniere octicon octicon-move-down"></span>
				Télécharger
			</a>
		</div>
	</div>
</section>
