<section class="page-header" id="banniere">
	<div class="banniere">
		<img class="banniere-logo" src="{{ '/assets/img/logo13.png' | prepend: site.baseurl }}"  alt="Logo IGO" />
		
		<p class="banniere-titre">Modèle inspirant <br>
		de développement <br>
		inter-organisation</p>
		<div class="btns-ban">
			<a class="btn-banniere btn btn-primary" href="{{ '/_pages/Contribuer/licence.txt' | prepend: site.baseurl }}">
				<i class="icon-banniere fa fa-copyright"></i>
				Licence
			</a>
			<a class="btn-banniere btn btn-primary" href="https://gitlab.forge.gouv.qc.ca/geomatique/espace_public_description_projet_igo/repository/archive.zip?ref=master">
				<span class="icon-banniere octicon octicon-move-down"></span>
				Télécharger
			</a>
		</div>
	</div>
</section>