<footer class="site-footer" id="footer">

	<div class="wrapper row">
		<div class="col-xs-12 col-sm-4 text-center">
			<a href="/">
				<img class="logo-med" src="{{ '/assets/img/logo_bleu_112.png'}}"  alt="Logo IGO" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-4 text-center">
			<ul class="footer listGauche">
				{% for page in site.pages %}
					{% if page.title-main %} 
					<li>
						<a class="page-link"  
							href="{{ page.url | prepend: site.baseurl }}" role="button" aria-expanded="false">{{ page.title-main }}
						</a>
					</li>
					{% endif %}
				{% endfor %}
				<li>
					<a href="https://github.com/infra-geo-ouverte/igo/blob/master/LICENCE.txt">
						Licence
					</a>
				</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 text-center">
			<ul class="footer listGauche">
			<!-- 	{% for page in site.pages %}
					{% if page.title-top %} 
					<li>
						<a class="page-link"  
							href="{{ page.url | prepend: site.baseurl }}" role="button" aria-expanded="false">{{ page.title-top }}
						</a>
					</li>

					{% endif %}
				{% endfor %} -->
				

				    {% for link in site.navigation %}
				    	{% if page.url contains 'english/' %}
				        <li class="page-link fr"><a href="{{site.baseurl}}{{ link.url }}">{{ link.text2 }}</a></li>
				        {% else %}
					<li class="page-link en"><a href="{{site.baseurl}}{{ link.url }}">{{ link.text}}</a></li>
					{% endif %}
				    {% endfor %}

				
			</ul>
		</div>
	</div>
	<hr>
	
	<a class="footer-mail text-center" href="mailto:info@igouverte.org"><span class="octicon octicon-mail"></span>Communiquez avec nous à l’adresse suivante : info@igouverte.org </a>
	
	{% include reseau_sociaux.html %}


	<small class="copyright text-center">&copy;IGO, 2015</small>

</footer>


	<!-- fin footer -->

	<script type="text/javascript" src="{{ '/assets/script/jquery-1.11.1.min.js' | prepend: site.baseurl }}"> </script>
	<script type="text/javascript" src="{{ '/assets/script/bootstrap.min.js' | prepend: site.baseurl }}"> </script>
	<script type="text/javascript" src="{{ '/assets/script/main.js' | prepend: site.baseurl }}"> </script>
	<script type="text/javascript" src="{{ '/assets/script/animation_banniere.js' | prepend: site.baseurl }}"> </script>
	
</body>

	<!-- Google Analitics -->
</html>
