<!DOCTYPE html xmlns:og="http://ogp.me/ns#">

<head>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

		 
	<!-- Balises meta régulières -->	 
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="copyright" content="Licence Libre du Québec – Réciprocité (LiLiQ-R)">	
	<meta name="keywords" content="logiciel libre, géomatique, open source, navigateur">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="google-site-verification" content="GipU5DbT1_yFbEaCkh-cvCAC77FmDLnkU90WZAKK19M" />
	
	<!-- Réseaux sociaux -->
	<meta property="og:title" content="IGO" />
	<meta property="og:site_name" content="IGO Infrastructure de géomatique ouverte" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:description" content="description" />
	<meta property="og:url" content="http://kboisvert.github.io/test_IGO/" />
	<meta property="og:image" content="{{ '/assets/img/logo13.png' | prepend: site.baseurl }}" />
	<meta property="fb:app_id" content="facebook_igo" />
	
	<meta property="twitter:title" content="IGO" />
	<meta property="twitter:description" content="description" /> 
	<meta property="twitter:url" content="http://kboisvert.github.io/test_IGO/" />
	<meta property="twitter:image" content="{{ '/assets/img/logo13.png' | prepend: site.baseurl }}" />
	
	
	<!-- Mettre une icone au site: icon in the highest resolution we need it for -->
	<link rel="icon" sizes="228x228" href="{{ '/assets/img/logo13.png' | prepend: site.baseurl }}">
	<!-- reuse same icon for Safari -->
	<link rel="apple-touch-icon" href="{{ '/assets/img/logo13.png' | prepend: site.baseurl }}">
	<!-- multiple icons for IE ????  -->
	<meta name="msapplication-square70x70logo" content="{{ '/assets/img/logo13.png' | prepend: site.baseurl }}">
	<meta name="msapplication-square150x150logo" content="{{ '/assets/img/logo13.png' | prepend: site.baseurl }}">
	<meta name="msapplication-wide310x150logo" content="{{ '/assets/img/logo13.png' | prepend: site.baseurl }}">
	<meta name="msapplication-square310x310logo" content="{{ '/assets/img/logo13.png' | prepend: site.baseurl }}">
	
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="{{'/assets/fonts/octicons/octicons.css' | prepend: site.baseurl}}" />
	<link rel="stylesheet" href="{{ '/css/print.css' | prepend: site.baseurl }}"  media="print">
	
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="{{ '/css/main_ie8.css' | prepend: site.baseurl }}" />
		<script type="text/javascript" src="{{ '/assets/script/modernizr.custom.88836.js' | prepend: site.baseurl }}"> </script>
	<![endif]-->
	<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}" />
	<!--<![endif]-->
	
	
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  

  
  </head>


