<section id="posts-sidebar" class="col-sm-3">
	<h3>Nouvelles</h3>
<!-- Liste des nouvelles -->
	<div>
		<ul>
			{% for post in site.posts limit: 3 %}
				<li><h4><a href="{{ post.url }}">{{ post.title }}</a></h4> <!-- titre de la nouvelle -->

					<!-- Ajout de la date - format français - Whitespace added for readability -->
					<p class="postDate">{% assign m = post.date | date: "%-m" %} <!-- date de la nouvelle -->
						{{ post.date | date: "%-d" }} <!-- jour -->
						{% case m %} <!-- mois selon la variable m défini plus haut -->
							{% when '1' %}Janvier
							{% when '2' %}Février
							{% when '3' %}Mars
							{% when '4' %}Avril
							{% when '5' %}Mai
							{% when '6' %}Juin
							{% when '7' %}Juillet
							{% when '8' %}Août
							{% when '9' %}Septembre
							{% when '10' %}Octobre
							{% when '11' %}Novembre
							{% when '12' %}Décembre
						{% endcase %}
						{{ post.date | date: "%Y" }} <!-- année -->
					</p>

					{{ post.excerpt }} <!-- extrait de la nouvelle -->
				</li>
			{% endfor %}
		</ul>
	</div>
	<hr>
	<div>
	<!-- Liste des Archives -->
		<h3>Archives</h3>
		<ul>
		{% for page in site.pages %}
			{% if page.archive%} <!-- archive dans archive.md -->
				<li><a href="{{ page.url | prepend: site.baseurl }}#2015">2015</a></li>
				<li><a href="{{ page.url | prepend: site.baseurl }}#2014">2014</a></li>
				<li><a href="{{ page.url | prepend: site.baseurl }}#2013">2013</a></li>
			{% endif %}
		{% endfor %}
		</ul>		
	</div>	
</section>

