<div class="share-page">
    Partagez &rarr; 
    <a class="footer-reseau" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter-square" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
    <a class="footer-reseau" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
    <a class="footer-reseau" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square" data-toggle="tooltip" data-placement="top" title="Google +"></i></a>
</div>

	<!-- bouton Twitter 
	<a href="http://twitter.com/share" class="twitter-share-button" 
	  data-count="vertical" data-via="">Tweet</a>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	
	<!-- bouton Facebook 
	<iframe src= "http://www.facebook.com/plugins/like.php?"
		href="http://kboisvert.github.io/test_IGO/"
		scrolling= "no" frameborder= "0″ style= "border:none; overflow:hidden; width:65px; height:65px; margin-top:3px;" 
		allowTransparency= "true">
	</iframe>

	<!-- bouton Google+ 
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
		{lang: 'fr'}
	</script>
	<g:plusone size="tall"></g:plusone>
	
	<!-- bouton Linked in
	<script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
	<script type="in/share" data-counter="top"></script>
	<i class="fa fa-linkedin-square"></i>
	-->
