/* CSS pour la barre de blogue à droite et la page contenu de blogue */

#posts-sidebar hr{
	border-color: $gris-fonce;
	margin: 2%;
}

/*******************************************************/

/************css pour tablette et ordinateur ***********/

/*******************************************************/
/* ---------------- 500px ---------------------------- */
@media screen and (min-width: $screen-xs-min) {


}
/* ----------------768px-----------------------------  */

@media screen and (min-width: $screen-sm-min) {
	#posts-sidebar, #postContent{
		margin-top: 70px;
	}
	
	#postContent img{
		width: 100%;
	}

	#posts-sidebar div.h3, #archives h3{
		margin-top: 5px;
	}
	#posts-sidebar h4{
		margin: 0;
	}

	#posts-sidebar p.postDate{
		color: $gris;
		font-size: 14px;
		margin-bottom: 10px;
		font-style: italic;
	}

	#posts-sidebar li, #archives li{
		text-decoration: none;
		list-style-type: none;
	}
	#archives h3{
		padding-left: 15px;
		margin-bottom: 5px;
	}
	#archives h2{
		margin-top: 20px;
	}
	#archives li{
		padding-left: 30px;
	}
	#posts-sidebar .postDate>p{
		font-size: 14px;
	}

}





