/*******************************
Feuille de base fait à partir du fichier _base qui avait été généré par github ou jekyll
css des balises de base
********************************/

/****************************
 * Reset some basic elements
*****************************/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

hr{
	border-color: $gris-fonce;
	margin: 2%;
}

/****************************
Style de base des pages
*****************************/
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $regular;
    color: $noir;
    background-color: $gris-pale;
    -webkit-text-size-adjust: 100%;
	font-size: $base-font-size;
}


/****************************
 Set `margin-bottom` to maintain vertical rhythm  - Gardé dans le fichier base aussi
*****************************/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/****************************
Liens 
*****************************/

a {
    color: $bleu;
    text-decoration: none;

    &:visited {
        color: $gris;
    }

    &:hover {
        color: $gris-fonce;
        text-decoration: underline;
    }
}

/****************************
Tableaux
*****************************/

td, th{
	text-align: left!important;	
	border: solid!important;
	border-color: lavender!important;
	border-width: 1px!important;
	padding: 10px;
} 
tr td:first-child{
	width: 300px!important;
}
tr th:first-child{
	width: 300px!important;
}


/****************************
 * Lists
*****************************/
.container ul li{
	margin-left: 30px;
}

/****************************
 * Headings
*****************************/
 
h1, h2, h3, h4, h5, h6 {
    font-weight: $bold;
	font-family: $base-font-family;
	color: $bleu-fonce;
}
h1{
	font-size: $h1;
}
h2{
	font-size: $h2;
}
h3{
	font-size: $h3;
}
h4{
	font-size: $h4;
}
h5{
	font-size: $h5;
}


/****************************
 * Blockquotes
*****************************/
blockquote {
    color: $gris;
    border-left: 4px solid $gris-pale;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/****************************
 * Code formatting
*****************************/
pre,
code {
    font-size: 15px;
    border: 1px solid $gris-pale;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/****************************
 * Wrapper
*****************************/
.wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
	margin-top: 20px;
}

/****************************
 * Icons
*****************************/
/*Icone liens pour les sections de pages*/
.page-content a .octicon{
	color: $bleu!important;
}

/****************************
 * Clearfix - Gardé dans le fichier base aussi à vérifier *
*****************************/
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}







