/***************************
***  CSS header IE8
**************************/
body .site-header{
	border: none;
}

#header .navbar-default{
	background-color: $gris-pale;
	border: none;
}


/***********************
Logo
**********************/
#header .logo-med{
	padding: 20px 0 0 20px;
	width: 260px;
}

// menu faq

#header .navbar-right{
	padding-top: 5px;
	margin-right: 0;
}
#header .navbar-header{
	width: 100%!important;
}
#header .head-right{
	display: inline-block;
	float: right;
	width: 100%;
	background-color: $gris-pale;
	padding-left: 2%;
	height: 50px;
	margin-top: -25px;
}

#header .navbar-nav{
	float: right;
}

#header .menu-top li a{
	color: $noir;
}

#header .git-btn{
	display: block;
	font-weight: $bold;
	background-color: $bleu;
	margin: 15px auto 0 auto;
	width: 200px;
	font-size: $base-font-size;
	padding: 1%;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0;
	float: right;
}
#header .git-btn:hover{
	background-color: $bleu-fonce;
}
#header .btn{
	padding: 6px 12px;
}
#header .headContact{
	margin-right: 25px;
}
#header .head-right .nav>li{
	display: inline-block;
}
#header .head-right .nav>li>a{
	padding: 10px 10px;
}
#header .head-right .fr:first-child + li +li{
	margin-right: 30px;
}
#header .logo-git{
	display: none;
}
#header .navbar-toggle{
	display: none
}


/***
*Navigation principale
***/
#header .menu-main a, #header .git-btn{ 
	color: $blanc;
	text-transform: uppercase;
	font-family: $title-font-family;
}

#header .menu-main{
	display: inline-block;
	width: 100%;
	font-weight: bold;
	background-color: $bleu;	
	padding: 0;
	font-size: $base-font-size;
	text-align: center;
	margin: 0 auto;
}
	
#header .menu-main li{
	padding: 10px 10px;
	float: left;
	&:hover {
		background-color: $bleu-fonce;
	}
}
#header .menu-main li a{
	padding: 10px 10px;
}
	
#header .menu-main ul{ 
	float: none;
	padding: 0; 
	margin: 0 auto;  
	display: inline-block;
}

#header .navbar-collapse{
	padding: 0;
}

#header .navbar{
	border: none;
	margin: 0;
}

#header .navbar-nav menu-main li a{
	color: $blanc;
}


#header .nav-icons{
	display: none;
}
















