{% include head.html %}

  <body>

    {% include header.html %}
	{% include banniere.html %}

    <section class="page-content" id="accueil">

		<div class="wrapper">
		  
			{% for page in site.pages %}
				{% if page.titre-projet %}
				{{ page.content }}
				{% endif %}
			{% endfor %}
			{% for page in site.pages %}
			
				{% if page.accueilsection%} 
				
					<div class="col-sm-6" >	
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#no{{page.accueilsection}}">
						{{ page.titre-accueil}}
						</button>
						
						<!-- Modal -->
						<div class="modal fade" id="no{{page.accueilsection}}" tabindex="-1" role="dialog" aria-labelledby="no{{page.accueilsection}}" aria-hidden="true">
						  <div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h3 class="modal-title">{{ page.titre-accueil}}</h3>
								</div>
							  <div class="modal-body">
								{{ page.content}}
							  </div>
							</div>
						  </div>
						</div>						
					</div>
				{% endif %}
			{% endfor %}
			
			
		</div>
		

		
    </section>


    {% include footer.html %}

  </body>

</html>


