  {% include head.html %}

	<body>
		{% include header.html %}
		
			<div id="wrapper">
			{% include sidebar.html %}

			<!-- Page Content -->
				<div id="page-content-wrapper">
					<!-- Flèche pour ouvrir et fermer le menu de côté -->
					<!--[if gte IE 8)] -->
					<button type="button" id="icone-sidebar" class="octicon octicon-move-right" data-toggle="offcanvas">
						<!-- <span class="txtmenu"></span> -->
					</button>
					<!-- [endif]-->
			
					<div class="container" >
						<div>				
							{{ content }}                  
						</div>
					</div>
				</div>
					<!-- /#page-content-wrapper -->

			</div>  <!-- /#wrapper di sidebar.html-->


    {% include footer.html %}
	

  </body>
