<!-- page qui affiche le contenu d'un post -->
{% include head.html %}

  <body>  <!-- le body se ferme dans le footer -->

    {% include header.html %}
	
	<div class="row-fluid">
		<div class="col-sm-9" id="postContent">
			<h1>{{ page.title }}</h1>
			
			<!-- Ajout de la date - format français  -->
			<p class="postDate">{% assign m = page.date | date: "%-m" %}
				{{ page.date | date: "%-d" }} <!-- jour -->
				{% case m %} <!-- mois -->
					{% when '1' %}Janvier
					{% when '2' %}Février
					{% when '3' %}Mars
					{% when '4' %}Avril
					{% when '5' %}Mai
					{% when '6' %}Juin
					{% when '7' %}Juillet
					{% when '8' %}Août
					{% when '9' %}Septembre
					{% when '10' %}Octobre
					{% when '11' %}Novembre
					{% when '12' %}Décembre
				{% endcase %}
				{{ page.date | date: "%Y" }}  <!-- année -->
			</p>

			{{ content }}  <!-- contenu du fichier .md du post -->
			<p>Tags: {{page.tags}}</p>
			<p>Catégories: {{page.categories}}</p>

			<!-- ajout de disqus pour les commentaires -->

			<div id="disqus_thread"></div> <!-- div qui contient l'outil de Disqus -->
			<script type="text/javascript">
				/* * * CONFIGURATION VARIABLES * * */
				var disqus_shortname = 'igouverte';
				var disqus_developer = 1; // Comment out when the site is live pour tester en local ref: http://schmidt-happens.com/articles/2011/09/26/adding-disqus-comments.html

				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

		</div>

	{% include postSide.html %} <!-- inclure la barre de blogue du côté droit -->

	</div>				
	<div class="clear"></div>
    {% include footer.html %}
